.active {
    font-weight: bold;
    color: #0070f3; 
    text-decoration: underline;
}
  
ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
  
li a {
    text-decoration: none;
    color: black;
}
  
li a:hover {
    color: #0070f3;
}